<!-- title view -->
<% if (title){ %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>
<!-- if any message sent will be here -->
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
  
<!-- Form -->
<form id="loginForm" action="/account/login" method="post">
    <h2>Sign In to your account</h2>
    <fieldset id="email-pass">
        <label class="email-password">
            E-mail
            <input type="email" name="account_email" required>
        </label>
        <label class="email-password">
            Password
            <div id="pswd-requirements">
                At least 12 characters:<br> 
                1 must a number<br>
                1 must be lowercase letter<br>
                1 must be capital letter<br>
                1 must be a non-alphanumeric character
            </div>
            <input type="password" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
        </label>
        <input type="submit" class="submitBtn" value="Login">
        <span>No account? <a href="register" title="Create your account now!">Sign-up</a></span>   
    </fieldset>
</form>