<!-- title view -->
<% if (title){ %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>
<!-- if any message sent will be here -->
<%- messages() %>

<!-- Form for the Register view -->
<form method="post" action="/account/register">
    <fieldset class="register-set">
        <label class="register-data">
            First Name
            <input type="text" name="account_firstname" required>
        </label>
        <label class="register-data">
            Last Name
            <input type="text" name="account_lastname" required>
        </label>
        <label class="register-data">
            E-mail Address
            <input type="email" name="account_email" required>
        </label>
        <label class="register-data">
            Password
            <div id="pswd-requirements">
                At least 12 characters:<br> 
                1 must a number<br>
                1 must be lowercase letter<br>
                1 must be capital letter<br>
                1 must be a non-alphanumeric character
            </div>
            <input type="password" name="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
        </label>
        <input type="submit" class="submitBtn" id="registerBtn" value="Register">
    </fieldset>
</form>