<% const d = new Date()
let year = d.getFullYear() %>
<footer>
    <a href="../../inv/detail/1" title="Click Here for error view">Error Link</a>
    <p class="copyright">&copy; <%= year %>, CSE 340 App | Made by Renzo Cardoza</p>
</footer>