@media only screen and (min-width: 55rem){
    body{
        max-width: 900px;
        margin: 0 auto;
        background-image: url("/images/site/checkerboard.jpg");
    }
    #wrapper{
        background-color: #fff;
        border: 3px solid #26408B;
        border-radius: 20px;
        padding: 0.75em;
        margin-top: 3em;
        margin-bottom: 3em;
    }
    #tools a{
        font-size: 1.2em;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }
    nav ul li a{
        letter-spacing: 0.08em;
        font-size: 1.1em;
        padding-left: 1.2em;
        padding-right: 1.2em;
        text-align: center;
    }
    .delorean-info{
        font-size: 1.1em; 
        letter-spacing: 0.07em;
    }
    .delorean-info img{
        width: 30%;
    }
    #car-info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* justify-content: space-around; */
    }
    #upgrades-delorean{
        /* order: 0; */
        grid-column: 1;
        grid-row: 1;
        padding-right: 3em;
        margin-left: 1em;
    }
    #reviews-delorean{
        /* order: 1; */
        grid-column: 2;
        grid-row: 1;
        font-size: 1.1em;
    }
    /* Here will be the CSS for the Inventory Content */
    #inv-display{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    #inv-display li{
        max-width: 14em;
    }
    #vehicle-display{
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-gap: 1em;
    }
    #vehicle-display img{
        grid-column: 1;
        grid-row: 1;
    }
    #vehicle-details{
        grid-column: 2;
        grid-row: 1 / 3;
        margin-left: 1.2em;
    }
    /* add new classification css */
    #add-class-frm h3, #add-class-frm fieldset{
        margin: 0 auto;
    }
    #add-vehicle-frm{
        margin-left: 4.5em;
        margin-right: 4.5em;
    }
    .vehicle-titles{
        text-align: left;
    } 
}