<div class="error-block">
    <!-- title error -->
    <% if (title){ %>
        <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
    <!-- error messages -->
    <span id="err-msg"><%- message %></span>
</div>